# ABOUT:  This is the configuration file for loading sequence and genomic feature data in DeNOGAP database
# AUTHOR: Shalabh Thakur
# VERSION: 1.0
# Any thing that start with #  and between () will be ignored by the program.

[ACTIVATE_ANALYSIS]
-LOAD_DATA:YES

[INPUT_DIRECTORY]
-PROTEIN_DIR: ../output/TEST_RUN/GENBANK_DATA/PROTEIN_FILE
-NUCLEOTIDE_DIR:../output/TEST_RUN/GENBANK_DATA/CDS_FILE
-FEATURE_DIR:../output/TEST_RUN/GENBANK_DATA/GENOMIC_FEATURE_FILE

[PARAMETER]
-ADJUST_HEADER: YES

